trigger:
  branches:
    include:
    - main

pr:
  branches:
    include:
    - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  dotnetVersion: '9.0.x'
  azureServiceConnection: 'AzureServiceConnection'
  appServiceName: 'miproyectoapi'
  resourceGroupName: 'rg-finalapi-prod'

stages:
- stage: Build
  displayName: 'Compilación y Pruebas'
  jobs:
  - job: BuildJob
    displayName: 'Compilar y Probar'
    steps:
    - task: UseDotNet@2
      displayName: 'Instalar .NET 9'
      inputs:
        version: $(dotnetVersion)
        includePreviewVersions: false

    - task: DotNetCoreCLI@2
      displayName: 'Restaurar dependencias'
      inputs:
        command: 'restore'
        projects: '**/*.csproj'

    - task: DotNetCoreCLI@2
      displayName: 'Compilar solución'
      inputs:
        command: 'build'
        arguments: '--configuration $(buildConfiguration) --no-restore'

    - task: DotNetCoreCLI@2
      displayName: 'Ejecutar pruebas unitarias'
      inputs:
        command: 'test'
        arguments: '--configuration $(buildConfiguration) --no-build'
        publishTestResults: true
        projects: '**/*Tests.csproj'

    - task: DotNetCoreCLI@2
      displayName: 'Publicar aplicación'
      inputs:
        command: 'publish'
        publishWebProjects: true
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
        zipAfterPublish: true

    - task: PublishBuildArtifacts@1
      displayName: 'Subir artefactos'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Despliegue a Azure App Service'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployToAppService
    displayName: 'Desplegar a FinalAPI'
    environment: 'Production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadBuildArtifacts@0
            displayName: 'Descargar artefactos'
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'drop'
              downloadPath: '$(Pipeline.Workspace)'

          - task: AzureWebApp@1
            displayName: 'Desplegar a App Service'
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              appType: 'webAppLinux'
              appName: '$(appServiceName)'
              package: '$(Pipeline.Workspace)/drop/**/*.zip'
              startupCommand: 'dotnet FinalAPI.Api.dll'